/* Importación de temas */
@import "theme.css";

/* Estilos globales */
* {
    border: none;
    /*font-family: "Maple Mono SC NF";*/
    font-family: "JetBrainsMonoNL NFP ExtraBold";
    font-weight: bold;
    font-size: 13px;
    min-height: 11px;
}

/* Estilos de la ventana principal */
window#waybar {
    background: @main-bg;
    border-radius: 0px;
    border-bottom: 2px solid @pink;
    border-color: @text;

}

/* Tooltip */
tooltip {
    color: @text;
    border-radius: 0px;
}

/* Botones de espacios de trabajo */
#workspaces button {
    box-shadow: none;
    padding: 0 2px;
    margin: 0px 0px;
    border-radius: 0px;
    color: @text-alt;
    animation: ws_normal 20s ease-in-out 1;
}

#workspaces button.active {
    background: @text;
    color: @bar-bg;
    margin: 0px 0px 0px 0px;
    padding: 2px 0px 3px 0px;
    animation: ws_active 2s ease-in-out 1;
}

#workspaces button:hover {
    color: @wb-hvr-fg;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

/* Espaciado de módulos */
#custom-ws,
#window,
#clock,
#pulseaudio,
#battery,
#custom-power,
#bluetooth,
#mpris,
#custom-notifications {
    margin-bottom: 0;
    padding: 0 0px;
    color: @text-alt;
    opacity: 1;
}

#backlight {
    padding: 0px 12px;
    color: @text-alt;
}

#workspaces {
    padding: 0px 0px;
}


/* Módulos específicos */

/* Icono de ventana */
#custom-paddl {
    font-size: 11.5pt;
    margin-bottom: -2px;
    padding-right: 2px;
    background: transparent;
}


/* Título de la ventana */
#window {
    padding: 0 0px;
    border-radius: 0px;
    color: @text-alt;
}

/* Temperatura */
#custom-paddc {
    padding-right: 3px;
}

/* Reloj - Hora */
#clock.time {
    color: @text-alt;
}

/* Reloj - Fecha */
#clock.date {
    color: @text-alt;
}

/* Conexión Wi-Fi */
#custom-wifi {
    padding: 0px 3px;
    color: @text-alt;
}

/* Información de medios */
#custom-playerlabel {
    padding: 0 8px;
    border-radius: 0px;
    color: @text-alt;
    margin: 0 3px;
    background-color: transparent;
}

/* Audio */
#pulseaudio {
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
    border-radius: 0px;
    color: @text-alt;
}

/* Batería */
#battery {
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
    border-radius: 0px;
    color: @text-alt;
}

/* Botón de energía */
#custom-power {
    color: @bar-bg;
    background: @text;
    margin: 0px 0px 0px 0px;
    padding: 0 7px;
    border-radius: 0px;
}

/* Icono de poder */
#custom-paddr {
    font-size: 11.5pt;
    color: @main-bg;
    margin-bottom: -2px;
}


#image {
    border-right: 2px solid @text;
    border-radius: 0px;
    padding: 0 3px;
    margin-right: 3px;
}



/* Bandeja del sistema */
#tray {
    color: #CDD6F4;
    border-radius: 0px;
    padding: 0 6px;
    margin: 0 0px;
    border-left: 2px solid @text;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

/* Módulos a la derecha */
.modules-right {
    background-color: transparent;
}

.modules-left {
    background-color: transparent;
}

/* Swww */
#custom-swww {
    padding: 0 4px 0 8px;
    text-shadow: 0 0 2px rgba(0, 0, 0, 1);
    border-radius: 0px;
    color: @text-alt;
}

#bluetooth {
    margin-left: 5px;
}
