* {
    border: none;
    font-family: "Maple Mono SC NF";
    font-weight: bold;
    font-size: 13px;
    min-height: 11px;
}

/* @import "theme.css"; */
@import "themeblack.css";

window#waybar {
    background: transparent;
    border-radius: 7px;

}

tooltip {
    background: @main-bg;
    color: @text;
    border: solid;
    border-radius: 7px;
    border-width: 1px;
    border-color: white;
}

/* WORKSPACE BUTTONS */
#workspaces button {
    box-shadow: none;
    padding: 0px;
    border-radius: 4px;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 0px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 0px;
    color: @text-alt;
    animation: ws_normal 20s ease-in-out 1;
}
#workspaces button.active {
    background: @text;
    color: @text-alt;
    margin-left: 2px;
    padding-left: 2px;
    padding-right: 2px;
    margin-right: 2px;
    animation: ws_active 2s ease-in-out 1;
}
#workspaces button:hover {
    background: @wb-hvr-bg;
    color: @wb-hvr-fg;
    animation: ws_hover 20s ease-in-out 1;
    transition: all 0.3s cubic-bezier(.55,-0.68,.48,1.682);
}

/* SPACING */
#custom-ws,
#workspaces,
#window,
#custom-cpuinfo
#memory,
#cpu,
#clock,
#pulseaudio,
#backlight,
#battery,
#custom-power,
#mpris,
#custom-notifications {
    margin-bottom: 0px;
    opacity: 1;
    padding-left: 4px;
    padding-right: 4px;
    color: @text-alt; 
}


/* MODULES */
/* WINDOW ICON */
#custom-paddl {
    font-size: 11.5pt;
    margin-bottom: -2px;
    padding-right: 2px;
    background: transparent;
}
#custom-ws {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    background: @main-bg;
}


/* WORKSPACES */
#workspaces {
    border-radius: 7px;
    border: 2px solid @text;
    padding: 0;
    background: @bar-bg;
}


/* WINDOW TITLE */
#window {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
}

/* TEMPERATURE */
#custom-paddc {
    padding-right: 3px;
}




#clock.time {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    background: @bar-bg;
    color: @text-alt;
}


/* DATE */
#clock.date {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    border-radius: 7px;
    background: @bar-bg;
    color: @text-alt;
}


/* CONNECTION */
#custom-wifi {
    padding-left: 4px;
    padding-right: 4px;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    border-radius: 7px;
    background: @bar-bg;
    color: @text-alt;

}


/* MEDIA INFO */
#custom-playerlabel {
    background-color: @main-bg;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 7px;
    color: @text-alt;

    border: 2px solid @text;
    margin: 0px 3px;

}


#pulseaudio {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    background: @bar-bg;
    border-radius: 7px;
    color: @text-alt;
}



#battery {
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 1);
    background: @bar-bg;
    border-radius: 7px;
    color: @text-alt;

}

#custom-power {
    color: @text-alt;
    background: @text;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    margin-left: 7px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 4px;
}
#custom-paddr {
    font-size: 11.5pt;
    color: @main-bg;
    margin-bottom: -2px;
}

#tray {
    background-color: @bar-bg;
    color: #CDD6F4;
    border-radius: 7px;
    padding: 0px 6px;
    margin: 0px 3px;
    border: 2px solid @text;
  
  }

  #tray>.passive {
    -gtk-icon-effect: dim;
  }
  
  #tray>.needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
  }

  .modules-right {
    background-color: @bar-bg;
    border-radius: 7px;
    border: 2px solid @text;
  }
